# Здравствуйте! 

Выполненное тестовое для "ООО Афанекс Консалтинг"

https://hh.ru/resume/dced1190ff0b0ade1b0039ed1f4d756c793547

Тестовое выполнено на языке SQLite3 ver > 3.30

Так же владею PostgreSQL, MYSQL, MSSQL(знакомлюсь)

# 1.
Напишите SQL запрос, который выведет номера заказов с суммой не менее 500 рублей по
тем клиентам, которые совершили более одного заказа.

Таблица orders (заказы)
- order_id Уникальный идентификатор заказа
- user_id идентификатор клиента
- date дата и время создания заказа
- paid_amount сумма заказа

In [ ]:
"""
WITH user_id_qnt AS
(
  SELECT user_id,
    COUNT(order_id)
  FROM orders
  GROUP BY 1
  HAVING COUNT(order_id) > 1
)
SELECT order_id
FROM orders
JOIN user_id_qnt
  ON orders.user_id = user_id_qnt.user_id
WHERE paid_amount > 500
"""

# 2.
Напишите SQL запрос, который будет выводить идентификатор товара и общую сумму
продаж данного товара за ноябрь 2022 года по тем товарам, сумма продаж которых
составила более 10 000 рублей.

Table order_line (состав заказа)
- order_id идентификатор заказа
- date дата и время создания заказа
-product_id идентификатор товара
- price цена товара
- quantity количество единиц проданных
товаров

In [ ]:
"""
WITH price_sum AS
(
  SELECT product_id,
    SUM(price * quantity) AS sum_product
  FROM order_line
  GROUP BY 1
  HAVING SUM(price * quantity) > 10000
)
SELECT product_id,
  SUM(price * quantity) AS sum_pr
FROM order_line
JOIN price_sum
  ON order_line.product_id = price_sum.price_sum
WHERE datetime(date, "MONTH") = 11
GROUP BY 1
"""

# 3.
Напишите SQL запрос, который выведет список наименований товаров и полных адресов
складов данных товаров.
В результирующий набор НЕ должны попадать склады без товаров и товары тех складов,
которых нет в справочнике складов.

Таблица warehouses (справочник складов) 
- warehouse_id идентификатор склада
- city Город склада
- street_name Название улицы склада
- House_number Номер дома склада

Таблица product (справочник товаров)
- product_id идентификатор товара
- name наименование товара
- warehouse_id идентификатор склада
- weight вес товара
- shelf_life срок годности товара в днях

In [ ]:
"""
SELECT name,
  CONCAT(city, ", ", street_name, ", ", House_number) AS adress
FROM warehouses
JOIN product
  ON warehouses.warehouse_id = product.warehouse_id
"""

# 4.
Напишите SQL запрос, который выведет дату смены, имя сотрудника и количество
отработанных часов за смену 1 декабря 2022 года.
Если сотрудник не выходил на смену в указанный день, для данного сотрудника необходимо
отобразить количество отработанных часов «0» .
Если идентификатор сотрудника из смены отсутствует в справочнике сотрудников, то вместо
имени выводить «Неизвестный сотрудник»

Таблица Employee (справочник сотрудников) 
- employee_id идентификатор
сотрудника
- name Имя сотрудника

Таблица shift (смены сотрудников)
- employee_id идентификатор сотрудника
- Fiscal_date Дата смены
- Start_time Дата и время начала смены
- End_time Дата и время окончания смены
сотрудника

In [ ]:
"""
SELECT Fiscal_date, 
  IFNULL(name, "Неизвестный сотрудник") AS name,
  IIF(
    ROUND(JULIANDAY(End_time) - JULIANDAY(Start_time)) * 24 > 0, ROUND(JULIANDAY(End_time) - JULIANDAY(Start_time)) * 24, 0
    ) AS work_time
FROM shift
LEFT JOIN Employee
  ON shift.employee_id = Employee.employee_id
WHERE datetime(Fiscal_date) = "01.12.2022"
"""