# üôã‚Äç‚ôÇÔ∏è –í—Å—Ç—É–ø–ª–µ–Ω–∏–µ

- –ó–¥—Ä–∞–≤—Å—Ç–≤—É–π—Ç–µ, –¥–æ–±—Ä—ã–π –¥–µ–Ω—å!!! –ü—Ä–µ–¥—Ç–µ—Å—Ç–æ–≤–æ–µ –∑–∞–¥–∞–Ω–∏–µ –∫–æ–º–ø–∞–Ω–∏–∏ **WhoIsBlogger (WIB)**.

- –¢—Ä–µ–±—É–µ—Ç—Å—è —Å–æ–∑–¥–∞—Ç—å —Ç–∞–±–ª–∏—Ü—ã, –∏ –Ω–∞ –∏—Ö –æ—Å–Ω–æ–≤–µ —Å–¥–µ–ª–∞—Ç—å SQL –∑–∞–ø—Ä–æ—Å—ã. –ü—Ä–µ–¥–ø–æ—Å—Ç–∏—Ç–µ–ª—å–Ω—ã–π —è–∑—ã–∫ PostgreSQL, –Ω–æ –º–æ–∂–Ω–æ –∏ –¥—Ä—É–≥–æ–π –Ω–∞ —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ. –ñ–µ–ª–∞—Ç–µ–ª—å–Ω–æ –ø—Ä–∏–ª–æ–∂–∏—Ç—å –∫–æ–¥ —Å–æ–∑–¥–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü.

- –í —Ä–∞–±–æ—Ç–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω—ã –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ —Äandas, numpy, sqlite3. –°–æ–∑–¥–∞–Ω—ã —Ç–∞–±–ª–∏—Ü—ã —Å –ø–æ–º–æ—â—å—é SQL –∑–∞–ø—Ä–æ—Å–æ–≤. –°–¥–µ–ª–∞–Ω–∞ —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è SQL –∑–∞–ø—Ä–æ—Å–æ–≤. –ü—Ä–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω—ã –æ–∫–æ–Ω–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏, —Ç–∞–±–ª–∏—á–Ω—ã–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è, –≤–ª–æ–∂–µ–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã.

# üìö 1. –ò–º–ø–æ—Ä—Ç

In [ ]:
!pip install SQLAlchemy
!add-apt-repository -y ppa:sergey-dryabzhinsky/packages
!apt update
!apt install sqlite3

In [ ]:
!gdown 1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi -O /usr/lib/python3.7/lib-dynload/
# MENU: Runtime > Restart runtime
# –ù—É–∂–Ω–æ –ø–µ—Ä–µ–∑–∞–ø—É—Å—Ç–∏—Ç—å —Å—Ä–µ–¥—É, –ø–æ—Å–ª–µ —É—Å—Ç–∞–Ω–æ–≤–∫–∏
import sqlite3
sqlite3.sqlite_version

Downloading...
From: https://drive.google.com/uc?id=1BSHIKQ7rFw5BpTq5nw1UZfjPK_7Mpnbi
To: /usr/lib/python3.7/lib-dynload/_sqlite3.cpython-37m-x86_64-linux-gnu.so
100% 6.50M/6.50M [00:00<00:00, 204MB/s]

'3.38.0'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
con = sqlite3.connect('test.db')

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

# üßÆ 2. –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

In [ ]:
# CREATING THE TABLE users

con.execute('''
CREATE TABLE IF NOT EXISTS users(
    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
    age int DEFAULT NULL);
    ''')

con.commit()

print("Table created successfully");

Table created successfully

In [ ]:
# CREATING THE TABLE items

con.execute('''
CREATE TABLE IF NOT EXISTS `items` (
  `item_id` INTEGER PRIMARY KEY AUTOINCREMENT,
  `price` decimal(8,2) DEFAULT NULL
);''')

con.commit()

print("Table created successfully");

Table created successfully

In [ ]:
# CREATING THE TABLE purchases

con.execute('''
CREATE TABLE IF NOT EXISTS `purchases` (
  `purchase_id` INTEGER PRIMARY KEY AUTOINCREMENT,
  `user_id` int DEFAULT NULL,
  `item_id` int DEFAULT NULL,
  `date` date DEFAULT NULL,
  CONSTRAINT `purchases_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`item_id`) ON DELETE CASCADE,
  CONSTRAINT `purchases_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
  );''')

con.commit()

print("Table created successfully");

Table created successfully

# üìù 3. –ù–∞–ø–æ–ª–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

In [ ]:
# INSERTING VALUES items

con.execute("INSERT or REPLACE INTO items (item_id, price) VALUES(1, 500.99);")
con.execute("INSERT or REPLACE INTO items (item_id, price) VALUES(2, 1000.99);")
con.execute("INSERT or REPLACE INTO items (item_id, price) VALUES(3, 5000.99);")
con.execute("INSERT or REPLACE INTO items (item_id, price) VALUES(4, 150.99);")
con.execute("INSERT or REPLACE INTO items (item_id, price) VALUES(5, 650.99);")
con.execute("INSERT or REPLACE INTO items (item_id, price) VALUES(6, 800.99);")

con.commit()

print("Table insert successfully");

Table insert successfully

In [ ]:
# INSERTING VALUES users

con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(1,20);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(2,25);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(3,40);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(4,65);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(5,48);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(6,25);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(7,33);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(8,65);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(9,19);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(10,25);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(11,70);")
con.execute("INSERT or REPLACE INTO users (user_id,age) VALUES(12,65);")

con.commit()

print("Table insert successfully");

Table insert successfully

In [ ]:
# INSERTING VALUES purchases

con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(1,8,2,'2020-01-23');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(2,3,1,'2020-02-23');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(3,4,2,'2020-03-26');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(4,1,1,'2020-04-15');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(5,3,5,'2020-05-15');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(6,4,6,'2020-06-21');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(7,3,1,'2020-07-17');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(8,9,2,'2020-08-23');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(9,3,1,'2020-09-23');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(10,4,6,'2020-10-26');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(11,1,1,'2020-11-15');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(12,11,3,'2020-12-15');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(13,4,2,'2021-04-21');")
con.execute("INSERT or REPLACE INTO purchases (purchase_id,user_id,item_id,date) VALUES(14,12,4,'2021-05-17');")

con.commit()

print("Table insert successfully");

Table insert successfully

# –ó–∞–¥–∞–Ω–∏–µ –ê

–ö–∞–∫—É—é —Å—É–º–º—É –≤ —Å—Ä–µ–¥–Ω–µ–º –≤ –º–µ—Å—è—Ü —Ç—Ä–∞—Ç–∏—Ç:
- –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –≤ –≤–æ–∑—Ä–∞—Å—Ç–Ω–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ –æ—Ç 18 –¥–æ 25 –ª–µ—Ç –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ?
- –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –≤ –≤–æ–∑—Ä–∞—Å—Ç–Ω–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ –æ—Ç 26 –¥–æ 35 –ª–µ—Ç –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ?

In [ ]:
sql = """
SELECT strftime('%m', date) as Month,
  AVG(price)
FROM purchases
LEFT JOIN users 
  on purchases.user_id = users.user_id
LEFT JOIN items 
  on purchases.item_id = items.item_id
WHERE age BETWEEN 18 AND 25
GROUP BY 1;
"""

In [ ]:
select(sql)

  Month  AVG(price)
0    04      500.99
1    08     1000.99
2    11      500.99

- –í —Å—Ä–µ–¥–Ω–µ–º –≤—ã—É—á–∫–∞ –ø–æ –º–µ—Å—è—Ü–∞–º –≤ –≤–æ–∑—Ä–∞—Å—Ç–Ω–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ –æ—Ç 18 –¥–æ 25 –ª–µ—Ç.

In [ ]:
sql = '''SELECT strftime('%m', date) as Month,
  AVG(price)
FROM purchases
LEFT JOIN users 
  on purchases.user_id = users.user_id
LEFT JOIN items 
  on purchases.item_id = items.item_id
WHERE age BETWEEN 26 AND 35
GROUP BY 1'''

In [ ]:
select(sql)

Empty DataFrame
Columns: [Month, AVG(price)]
Index: []

- –£ –Ω–∞—Å –Ω–µ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –¥–∏–∞–ø–∞–∑–æ–Ω–µ 26 - 35 –ª–µ—Ç

# –ó–∞–¥–∞–Ω–∏–µ –ë

–í –∫–∞–∫–æ–º –º–µ—Å—è—Ü–µ –≥–æ–¥–∞ –≤—ã—Ä—É—á–∫–∞ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–Ω–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ 35+ —Å–∞–º–∞—è –±–æ–ª—å—à–∞—è?

In [ ]:
sql = '''
WITH get_month_sum
AS (
  SELECT strftime('%m', date) as Month,
      SUM(price) AS sum_price
  FROM purchases
  LEFT JOIN users 
      on purchases.user_id = users.user_id
  LEFT JOIN items 
      on purchases.item_id = items.item_id
  WHERE age >= 35
  GROUP BY 1
),
get_max
AS (
  SELECT Month,
      MAX(sum_price)
  FROM get_month_sum
)
SELECT Month
FROM get_max
'''

In [ ]:
select(sql)

  Month
0    12

- –í –¥–µ–∫–∞–±—Ä–µ –≤—ã—Ä—É–∫–∞ —Å–∞–º–∞—è –±–æ–ª—å—à–∞—è –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–Ω–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ 35+

# –ó–∞–¥–∞–Ω–∏–µ –í

–ö–∞–∫–æ–π —Ç–æ–≤–∞—Ä –æ–±–µ—Å–ø–µ—á–∏–≤–∞–µ—Ç –¥–∞–µ—Ç –Ω–∞–∏–±–æ–ª—å—à–∏–π –≤–∫–ª–∞–¥ –≤ –≤—ã—Ä—É—á–∫—É –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–π –≥–æ–¥?

In [ ]:
sql = '''
WITH get_sum_year_item
AS(
  SELECT strftime('%Y', date) as Year,
      items.item_id AS item,
      SUM(price) AS sum_price
  FROM purchases
  LEFT JOIN items 
      on purchases.item_id = items.item_id
  GROUP BY 1,2
),
get_last_year
AS(
  SELECT MAX(year) AS last_year
  FROM get_sum_year_item
),
get_item
AS(
  SELECT item, MAX(sum_price)
  FROM get_sum_year_item
  WHERE year = (SELECT last_year FROM get_last_year)
)
SELECT item FROM get_item
'''

In [ ]:
select(sql)

   item
0     2

- –ù–∞–∏–±–æ–ª—å—à–∏–π –≤–∫–ª–∞–¥ –≤ –≤—ã—Ä—É—á–∫—É –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–π –≥–æ–¥ —Ç–æ–≤–∞—Ä —Å item_id = 2

# –ó–∞–¥–∞–Ω–∏–µ –ì

–¢–æ–ø-3 —Ç–æ–≤–∞—Ä–æ–≤ –ø–æ –≤—ã—Ä—É—á–∫–µ –∏ –∏—Ö –¥–æ–ª—è –≤ –æ–±—â–µ–π –≤—ã—Ä—É—á–∫–µ –∑–∞ –ª—é–±–æ–π –≥–æ–¥.

In [ ]:
sql = '''
WITH get_sum_item
AS(
  SELECT items.item_id AS item,
      SUM(price) AS sum_price
  FROM purchases
  LEFT JOIN items 
      on purchases.item_id = items.item_id
  GROUP BY 1
),
get_rank_item
AS(
  SELECT item,
      sum_price,
      RANK() OVER win AS rank_price
  FROM get_sum_item
  WINDOW win
  AS(
    ORDER BY sum_price DESC
    )
),
get_total
AS(
  SELECT SUM(sum_price) AS total
  FROM get_sum_item
)
SELECT item,
	ROUND(sum_price / (SELECT total FROM get_total) * 100,2) AS pct_of_total
FROM get_rank_item
WHERE rank_price <= 3
ORDER BY sum_price DESC
'''

In [ ]:
select(sql)

   item  pct_of_total
0     3         35.94
1     2         28.78
2     1         18.00

- –¢–æ–ø 3 —Ç–æ–≤–∞—Ä–∞ —Å –Ω–∞–∏–±–æ–ª—å—à–µ–π –≤—ã—Ä—É—á–∫–æ–π –∏ –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º –æ—Ç –æ–±—â–µ–π –≤—ã—Ä—É—á–∫–∏